html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;

  font-family: sans-serif;
  padding: 5rem;
}

h1 {
  color: #2E86AB;
  font-size: 3rem;
}

p{
  font-size:2rem;
  padding:.5rem 0;
}
